after-login.png
profile-debug.png
playwrite.config.js

# Playwright reports
playwright-report/

# Test artifacts
test-results/
blob-report/

# Allure reports (generated locally)
allure-results/
allure-report/

# Node dependencies
node_modules/

# Environment variables
.env